body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
}

.app {
  margin: 0;
  outline: 0;
  background-color: hsl(0deg, 0%, 97%);
}
.app--dark {
  background-color: #2B4143;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 4rem;
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 1px solid hsl(0deg, 0%, 100%);
  position: relative;
  padding-left: 5rem;
  padding-right: 3rem;
}
.nav--dark {
  background-color: #2B3743;
  border: none;
  color: hsl(0deg, 0%, 100%);
}
.nav__img {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.7rem 0.5rem 0 0;
}
.nav__title {
  min-width: 70%;
  flex-grow: 1;
  margin-top: 1rem;
  font-weight: 900;
}
.nav__mode {
  margin-top: 1rem;
  font-weight: 400;
  cursor: pointer;
}
.nav__mode:hover {
  transform: scale(1.1);
  border: none;
}

.fa-search {
  color: hsl(0deg, 0%, 52%);
  position: absolute;
  top: 0.9rem;
  font-size: 0.6rem;
  left: 1.3rem;
}

.hero {
  min-height: 100vh;
  width: 100%;
}
.hero__input {
  width: 90%;
  margin: 3rem -14rem 0 2rem;
  position: relative;
}
.hero__input--dark {
  background-color: #2B3743;
}
.hero__input__search {
  padding: 0 3rem;
  width: 20rem;
  height: 2.5rem;
  border: none;
  font-weight: 400;
  border-radius: 0.7rem;
}
.hero__input__search--dark {
  background-color: #2B3743;
  color: hsl(0deg, 0%, 100%);
}
.hero__input__dropdown {
  top: -3rem;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  background-color: hsl(0deg, 0%, 100%);
  height: 2.5rem;
  position: absolute;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 2.3rem;
  list-style: none;
  width: 10rem;
  left: 80%;
  top: -1rem;
}
.hero__input__dropdown__text {
  position: absolute;
  top: -0.7rem;
  border: none;
  width: 60%;
}
.hero__input__dropdown__menu {
  width: 94%;
  position: absolute;
  left: 0;
  height: 4rem;
  background-color: hsl(0deg, 0%, 100%);
  z-index: 100;
  padding-bottom: 4rem;
  top: 3rem;
  display: none;
}
.hero__input__dropdown__menu__item {
  margin-bottom: -1rem;
  font-size: 0.8rem;
  padding: -10rem;
  z-index: 1;
  cursor: pointer;
  padding-left: 1rem;
}
.hero__input__dropdown__menu--dark {
  background-color: #2B3743;
  color: hsl(0deg, 0%, 100%);
}
.hero__input__dropdown__menu--display {
  display: block;
}
.hero__input__dropdown--dark {
  background-color: #2B3743;
  color: hsl(0deg, 0%, 100%);
}
.hero__section {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 90%;
  min-height: 70vh;
  row-gap: 2rem;
  margin: 3rem 0 0 3rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.hero__section__card {
  width: 13rem;
  height: 12rem;
  border: none;
  background-color: hsl(0deg, 0%, 100%);
}
.hero__section__card--dark {
  background-color: #2B3743;
  color: hsl(0deg, 0%, 100%);
}
.hero__section__card__country {
  font-size: 0.7rem;
  font-weight: 900;
}
.hero__section__card__population, .hero__section__card__country {
  margin-left: 1rem;
}
.hero__section__card__population {
  font-size: 0.5rem;
}
.hero__section__card__population__span {
  font-size: 0.7rem;
  font-weight: 600;
}
.hero__section--dark {
  background-color: #2B3743;
  color: hsl(0deg, 0%, 100%);
}

ul svg {
  margin-top: -2rem;
  margin-left: 130px;
  cursor: pointer;
  transition: 1s;
}

img {
  width: 100%;
  height: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 600px) {
  .app {
    min-width: 375px;
  }
  .nav {
    min-width: 17rem;
    padding-left: 0;
    padding-right: 0;
    min-height: 6rem;
  }
  .nav__title {
    width: 30%;
    margin-left: 1rem;
    margin-top: 2rem;
  }
  .nav__mode {
    margin-top: 2.2rem;
    padding-right: 0.7rem;
  }
  .nav__img {
    width: 1.6rem;
    height: 1.6rem;
    margin: 1.8rem 0rem 0 -4rem;
  }
  .hero__input {
    margin: 3rem -14rem 0 2rem;
    position: relative;
  }
  .hero__input__search {
    padding: 0 6rem;
    min-width: 21rem;
    min-height: 4rem;
    margin-left: -1rem;
  }
  .hero__input__dropdown {
    min-height: 3.5rem;
    min-width: 9rem;
    left: -1rem;
    top: 6rem;
  }
  .hero__input__dropdown__text {
    top: 0rem;
    width: 60%;
  }
  .hero__input__dropdown__menu {
    width: 100%;
    height: 5rem;
    padding-bottom: 4rem;
    top: 3.7rem;
    border-radius: 1rem;
    line-height: 2.7rem;
  }
  .hero__input__dropdown__menu__item {
    padding-left: 2.4rem;
  }
  .hero__section {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 7rem 0 0 3rem;
  }
  .hero__section__card {
    min-width: 16rem;
    min-height: 20rem;
    border: none;
    background-color: hsl(0deg, 0%, 100%);
  }
  .hero__section__card__country {
    font-size: 1rem;
    font-weight: 900;
  }
  .hero__section__card--dark {
    background-color: #2B3743;
    color: hsl(0deg, 0%, 100%);
  }
  .hero__section__card:last-child {
    margin-bottom: 2rem;
  }
  .hero__section--dark {
    background-color: #2B3743;
    color: hsl(0deg, 0%, 100%);
  }
  img {
    width: 100%;
    height: 10rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .fa-search {
    color: hsl(0deg, 0%, 52%);
    top: 1.6rem;
    font-size: 1rem;
  }
  ul svg {
    margin-top: 1.3rem;
    margin-left: 7.4rem;
  }
}/*# sourceMappingURL=styles.css.map */