
//  Colors


$DarkBlue : hsl(209, 23%, 22%);
$VeryDark: hsl(207, 26%, 17%);
$VeryDark: hsl(200, 15%, 8%);
$DarkGray: hsl(0, 0%, 52%);
$VeryLight: hsl(0, 0%, 97%);
$White: hsl(0, 0%, 100%);

body,html{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family:Nunito, sans-serif ;
}
.app{
margin: 0;
padding: 0;
min-height: 100vh;
    background-color: $VeryLight;
 max-width: 1440px;
    &--dark{
        background-color: #2B4143;
        
    }
}
.nav{
display: flex;
justify-content: space-between;
margin: 0;
height: 4rem;
background-color:$White;
border-bottom: 1px solid $White;
position: relative;
padding-left: 5rem;
padding-right: 3rem;

&--dark{
    background-color: #2B3743;
  
    border: none;
    color: $White;
}
&__img{
    width: 1.6rem;
    height: 1.6rem;
    margin: 0.7rem .5rem  0 0;

}
&__title{
   min-width: 70%;
   flex-grow: 1;
   margin-top:  1rem;
font-weight: 900;

}

&__mode{
    margin-top:  1rem;
    font-weight: 400;
    cursor: pointer;
}
&__mode:hover{
  transform: scale(1.1);
    border:none
}

}

.fa-search{
    color: $DarkGray;
    position: absolute;
    top: .9rem;
    font-size: .6rem;
    left: 1.3rem;
    cursor: pointer;
}

.hero{
    min-height: 100vh;
    width: 100%;


    &__input{
        width: 90%;
  margin: 3rem -14rem 0 2rem;
  position: relative;

 
  &--dark{
   background-color: #2B3743;

   }

   &__search{
    padding: 0 3rem;
    width: 20rem;
    height: 2.5rem;
    border: none;
    font-weight: 400;
    border-radius: .7rem;

      
    &--dark{
        background-color: #2B3743;
        color: $White;
        }
}
   

       &__dropdown{
           top: -3rem;
        cursor: pointer;
       border: none;
       border-radius: 1rem;
       background-color: $White;
       height: 2.5rem;
       position: absolute;
       font-weight: 400;
       font-size: .8rem;
       line-height: 2.3rem;
       list-style: none;
       width: 10rem; 
       left: 80%;
       top: -1rem;



           &__text{
           position: absolute;
           top: -.7rem;
               border: none;
               width: 60%;
           
           
           }
           &__menu{
               width: 94%;
               position: absolute;
               left: 0;
               height: 4rem;
               background-color: $White;
               z-index: 100;
               padding-bottom: 4rem;
               top: 3rem;
           
           &__item{
               margin-bottom: -1rem;
                   font-size: .8rem;
                   padding: -10rem;
                   z-index: 1;
                   cursor: pointer;
                   padding-left: 1rem;
               }
               
           &--dark{
               background-color: #2B3743;
               color: $White;
               }
               
       }

       &__menu--display{
           display: none;
           
       }
       &--dark{
           background-color: #2B3743;
           color: $White;
           }
   }
  
       }

        &__section{
            display: grid;
            grid-template-columns:   auto auto auto auto  ;
            width: 90%;
            min-height: 70vh;
           row-gap: 2rem;
           margin: 3rem 0 0 3rem;
           column-gap: 1rem;


            &__card{
              width: 13rem;
              height: 12rem;
              border: none;
              background-color: $White;
            cursor: pointer;

                &--dark{
                    background-color: #2B3743;
                    color: $White;
                    }
              
           
              &__country{
                  font-size: .7rem;
                  font-weight: 900;
              }
                &__population,&__country{
                    margin-left: 1rem;
                }

              &__population{
                  font-size:.5rem ;

                  &__span{
                      font-size: .7rem;
                      font-weight: 600;
                  }
              }
            }
            &__card:hover{
                transform: translateY(-2rem);
                transition: 2s;
            }
            &--dark{
                background-color: #2B3743;
                color: $White;
                }
        }
}

.hero2{
    width: 100%;
    position: absolute;


    &--dark{
        color: $White;
        }


    &__button{
        width: 6rem;
        margin-left: 2rem;
        margin-top: 4rem;
        cursor: pointer;
        position: relative;
        background-color: $White;
        border:none;
        height: 3rem;
        border-radius: 1rem;
        padding-left: 3rem;
        z-index: 1;
        

        
        &--dark{
            color: $White;
            background-color: #2B3743;
            }

        &__image{
        height: 2rem;
        width: 2rem;
        margin-top: 1rem;
        position: absolute;
        left: .6rem;
        top: -.6rem;

        &--dark{
            filter:invert(100%) ;
        }
        }
    }

    &__card{
                display: flex;
        justify-content:space-around;
        height: 20rem;
        margin-left: 2rem;
        margin-top: 4rem;
        gap: 2rem;


       

        &__img{
          width: 40%;
          height: 25rem;
         object-fit: cover;
        }

        &__details{
        //    overflow: hidden;
           margin-top: -1rem;
         width: 70%;

           &__header{
            font-size: 2rem;
            font-weight: 900;
           }

           &__container{
               display: flex;
               gap: 4rem;
               
            width: 50rem;

            
            
               &--1{
                   line-height: 1rem;
                   width: 20rem;

                   &__text{
                    font-weight: 600;
                    
                    &__span{
                        font-weight: 200;
                    }
                   }
               }

               &--2{
                line-height: 1rem;
                margin-top: -1.6rem;

            

                &__text{
                 font-weight: 600;
                

                &__span{
                    font-weight: 200;
                    }
                }
            }
           }


           &__border{
                display: grid;
                grid-template-columns: auto auto;
                font-weight: 600;
                padding-top: 3rem;

            &__list{
                display: flex;
                list-style-type: none;
                margin-top: -.5rem;
                margin-left: 0;
                padding-left: 0rem;
                gap: .4rem;
                max-width: 100%;
                overflow-x: scroll;

                &__item{
                    border: none;
                    padding: .5rem 3rem;
                  font-weight: 400;
                  box-shadow: 3px 0px 4px 0px;
                background-color: transparent;
         
            
                }

                &__item:hover{
                    cursor: pointer;
                  }
        }
    }
}

    }

}
//extra
ul svg{
   
        margin-top: -2rem;
        margin-left: 130px;
        cursor: pointer;
        transition: 1s;
}
.display{
    display: none;
    transform: translateX(-600px);
}
img{
width: 100%;
height: 7rem;
object-fit: cover;
};


@media screen and(max-width:600px) {
  
    .app{
        min-width: 375px;
         min-height: 300vh;
    }
    .nav{
        min-width: 17rem;
        padding-left: 0;
        padding-right: 0;
        min-height: 6rem;


        &__title{
            width: 30%;
            margin-left: 1rem;
            margin-top:  2rem;
         }

         &__mode{
            margin-top:  2.2rem;
           padding-right: .7rem;
        }
        &__img{
            width: 1.6rem;
            height: 1.6rem;
            margin: 1.8rem 0rem  0 -4rem;
        
        }
    }

    .hero{

    &__input{
        
   margin: 3rem -14rem 0 2rem;
   position: relative;

       
   &__search{
    padding: 0 6rem;
    min-width: 21rem;
    min-height: 4rem;
    margin-left: -1rem;
 
    }

    &__dropdown{
    min-height: 3.5rem;
    min-width: 9rem; 
    left: -1rem;
    top: 6rem;



    &__text{
       top: 0rem;
        width: 60%;
     
    }


    &__menu{
        width: 100%;
        height: 5rem;
        padding-bottom: 4rem;
        top: 3.7rem;
        border-radius: 1rem;
line-height:2.7rem ;


       &__item{
            padding-left: 2.4rem;
          }

    }
}


        }
        &__section{
            display: flex;
            flex-direction: column;
            width: 80%;
           margin: 7rem 0 0 3rem;


            &__card{
              min-width: 16rem;
              min-height: 20rem;
              border: none;
              background-color: $White;


              &__country{
                font-size: 1rem;
                font-weight: 900;
            }

                &--dark{
                    background-color: #2B3743;
                    color: $White;
                    }
            }
            &__card:last-child{
            margin-bottom: 2rem;
            }
            &--dark{
                background-color: #2B3743;
                color: $White;
                }
        }
    
    }
    img{
        width: 100%;
        height: 10rem;
        object-fit: cover;
        }
        .fa-search{
            color: $DarkGray;
            top: 1.6rem;
            font-size: 1rem;
          
        }
ul svg{
    margin-top: 1.3rem;
    margin-left: 7.4rem;
}

.hero2{


    &__button{
        margin-top: 1rem;
        height: 2.7rem;
        
    }
   

    &__card{
       margin-top: 10rem;
        flex-direction: column;


        &__img{
            min-width: 90%;
            height: 40rem;
           
          }
  
          &__details{
          min-height: 50vh;
          
           &__container{
               flex-direction: column;
               gap: 3rem;
            max-width: 20rem;

        }

        &__border{
              grid-template-columns: auto;
            padding-top: 3rem;
            min-width: 310px;
            height: 20rem;


        &__list{
            display: flex;
            list-style-type: none;
            margin-top: -7rem;
            margin-left: 0;
            padding-left: 0rem;
            
            gap: .4rem;
          width: 100%;
            overflow-x: hidden;

            &__item{
                border: none;
                padding: .5rem 3rem;
           width: 30%;
           height: 4rem;
     
        
            }

         
    }
}
    }
    }
}

}